@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
}

body {
  font-family: "Be Vietnam", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #55545b;
  line-height: 24px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {text-decoration: none;}

a, button {
    color: inherit;
    outline: none;
    border: none;
}

a:hover, button:hover {color: #5f3afc;}

h1, h2, h3, h4, h5, h6 {
    font-family: "Be Vietnam", sans-serif;
    color: #1a152e;
    margin-top: 0px;
    font-weight: 600;
    line-height: 1.2;
    transition: all 0.3s ease-out 0s;
}

a, .btn, button, span, p, i, input, select, textarea, li, img, *::after, *::before, .transition-3, h1, h2, h3, h4, h5, h6 {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

p {
    font-family: "Be Vietnam", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #55545b;
    margin-bottom: 15px;
    line-height: 26px;
}

.btn {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 35px;
    color: #ffffff;
    background: #5f3afc;
    text-align: center;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
}

/* header */
.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
}

.main-menu ul li:not(:last-child) {
    margin-right: 33px;
}

.main-menu ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #55545b;
    font-weight: 500;
    display: inline-block;
    padding: 20px 0;
    padding-bottom: 28px;
}
.main-menu ul li a:hover  {
    color: #5f3afc;
}

.main-menu ul li a i {
    font-size: 12px;
}

/* submenu */
.main-menu ul li .submenu {
    position: absolute;
    top: 120%;
    left: 0;
    width: 200px;
    padding: 17px 0;
    padding-bottom: 25px;
    background: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
    transition: all 0.3s ease-out 0s;
    border-radius: 0 0 8px 8px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.main-menu ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.main-menu ul li .submenu li {
    display: block;
    margin-right: 0;
}

.main-menu ul li .submenu li > a {
    width: 100%;
    display: block;
    padding: 3px 30px;
    text-transform: capitalize;
    color: #55545b;
    font-weight: 500;
    position: relative;
}

.main-menu ul li .submenu li:hover > a {
    color: #5f3afc;
}

.sidebar__menu a {
    font-size: 14px;
    color: #1a152e;
    font-weight: 500;
    padding-right: 15px;
    margin-right: 15px;
    display: inline-block;
    position: relative;
}

.sidebar__menu a i {
    padding-right: 5px;
    font-size: 18px;
}

.sidebar__menu a:not(:last-child)::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 18px;
    background: #e7e6ef;
}

.sidebar__menu a span {
    position: absolute;
    top: -10px;
    right: -1px;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 19px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background: #5f3afc;
    border-radius: 50%;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
}

/* Hero */
.hero__area {
    /* min-height: 820px; */
    background: #eeedf2;
    position: relative;
    padding: 200px 0;
    margin-bottom: 100px;
}

.hero__title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 17px;
}

.hero__title span {
    font-weight: 300;
}

.hero__content p {
    padding-right: 100px;
    margin-bottom: 40px;
    font-size: 16px;
}

.hero__search-input {
    position: relative;
}

.hero__search-input > span {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 16px;
    color: #92909d;
}

.hero__search-input input {
    width: 370px;
    height: 60px;
    line-height: 56px;
    padding: 0 20px;
    padding-left: 45px;
    border: 2px solid #ffffff;
    border-radius: 6px;
}

.hero__search-input input:focus {
    border-color: #5f3afc;
    outline: none;
    box-shadow: 0px 14px 20px 0px rgba(37, 17, 124, 0.16);
}

.hero__thumb-wrapper {
    position: relative;
}

.hero__thumb {
    position: absolute;
}

.hero__thumb.one {
    left: 22px;
}

.hero__thumb.two {
    left: 270px;
    top: -65px;
}

.hero__thumb.three {
    left: 270px;
    top: 310px;
}

/* hero shape */
.hero__shape img {
    position: absolute;
}

.hero__shape img.circle {
    right: 10%;
    top: 23%;
    opacity: 0.1;
    animation: circle 3s linear 0s infinite alternate;
    -webkit-animation: circle 3s linear 0s infinite alternate;
}

.hero__shape img.circle-2 {
    right: 9%;
    top: 50%;
    animation: circle2 3s linear 0s infinite alternate;
    -webkit-animation: circle2 3s linear 0s infinite alternate;
    z-index: 5;
}

.hero__shape img.square {
    bottom: 20%;
    left: 50%;
    animation: square 3s linear 0s infinite alternate;
    -webkit-animation: square 3s linear 0s infinite alternate;
}

.hero__shape img.square-2 {
    left: 50%;
    top: 53%;
    animation: triangle 3s linear 0s infinite alternate;
    -webkit-animation: triangle 3s linear 0s infinite alternate;
}

.hero__shape img.dot {
    top: 20%;
    left: 58%;
    animation: dot 3s linear 0s infinite alternate;
    -webkit-animation: dot 3s linear 0s infinite alternate;
}

.hero__shape img.triangle {
    top: 31%;
    left: 8%;
    animation: triangle 3s linear 0s infinite alternate;
    -webkit-animation: triangle 3s linear 0s infinite alternate;
}

/* hero shape keyframe*/
@keyframes triangle{
    0%{
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes square{
  0%{
    transform: translateX(0px)  ;
    -webkit-transform: translateX(0px)  ;
    -moz-transform: translateX(0px)  ;
    -ms-transform: translateX(0px)  ;
    -o-transform: translateX(0px)  ;
    }
  100%{
    transform: translateX(50px)  ;
    -webkit-transform: translateX(50px)  ;
    -moz-transform: translateX(50px)  ;
    -ms-transform: translateX(50px)  ;
    -o-transform: translateX(50px)  ;
    }
}


@keyframes dot{
    0%{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }

    100%{
      transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
    }
}

@keyframes circle2{
    0%{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }

    100%{
      transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
    }
}

/* section title */
.section__title h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.section__title h2 span {
    color: #5f3afc;
}

.section__title p {
    font-size: 16px;
}

/* category */
.category__area {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (min-width: 320px) and (max-width: 767px)  {
    .category__area {
        margin-top: 250px !important;
    }
}

.category__item {
    padding: 40px 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 30px 70px 0px rgb(8 0 42 / 10%);
    transition: .3s;
}

@media (min-width: 320px) and (max-width: 767px)  {
    .category__item {
        margin-bottom: 50px !important;
    }
}

.category__item:hover {
    border-color: #5f3afc;
    margin-top: -10px;
}

.category__content h3 {
    font-size: 20px;
    font-weight: 700;
}

.category__content a {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.category__content i {
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 58%;
    transform: translateX(10px) translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out 0s;
}

.category__content a:hover {color: #5f3afc;}

.category__content a:hover i {
    color: #5f3afc;
    transform: translateX(30px) translateY(-50%);
    visibility: visible;
    opacity: 1;
}

/* trending */
.trending__area {
    background: #f7f7f9;
    padding: 100px 0;
}

.btn-border {
    height: 46px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #e7e6ef;
    color: #5f3afc;
    background: transparent;
}

.trending__item {
    padding: 14px;
    padding-right: 30px;
    border-radius: 6px;
    box-shadow: 0px 20px 50px 0px rgba(8, 0, 42, 0.08);
}

.trending__thumb-inner {
    border: 1px solid #eeedf2;
    border-radius: 6px;
    overflow: hidden;
}

.trending__item:hover .trending__thumb img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.trending__content h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 7px;
    margin-top: 5px;
}

.trending__content p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
}

.trending__tag a {
    display: inline-block;
    height: 22px;
    line-height: 18px;
    padding: 0 7px;
    font-size: 13px;
    background: #f2f1f3;
    font-weight: 600;
    border-radius: 4px;
    text-transform: capitalize;
}

.trending__tag a:hover {
    background: #5f3afc;
    color: #ffffff;
}

.trending__price span {
    font-size: 20px;
    font-weight: 600;
    color: #5f3afc;
}

/* Subscribe */
.subscribe__area {
    padding: 100px 0;
    background-image: url("../img/subscribe-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe__title h3 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 13px;
}

.subscribe__title p {
    font-size: 18px;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 40px;
}

.subscribe__form input {
    width: 410px;
    height: 56px;
    line-height: 56px;
    padding: 0 30px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 20px 30px 0px rgba(8, 0, 42, 0.14);
    margin-right: 20px;
}

.subscribe__form input:focus {
    outline: none;
}

.btn-black {
    background: #1a152e;
    color: #ffffff;
}

.subscribe__form button:hover {
    color: #ffffff;
    box-shadow: 0px 20px 30px 0px rgba(8, 0, 42, 0.14);
}

.subscribe__form p {
    color: #ffffff;
    opacity: 0.7;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
}

.subscribe__icon img {
    position: absolute;
    background: transparent;
    animation: subscribeIcon 0.6s linear 0s infinite alternate;
    -webkit-animation: subscribeIcon 0.6s linear 0s infinite alternate;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.subscribe__icon img.ps {
    top: 70%;
    left: 5%;
}

.subscribe__icon img.wp {
    top: 38%;
    left: 16%;
}

.subscribe__icon img.html {
    right: 18%;
    top: 30%;
}

.subscribe__icon img.f {
    right: 7%;
    top: 55%;
}

.subscribe__icon img.man {
    right: 18%;
    bottom: 7%;
    border-radius: 0%;
    box-shadow: none !important;
}

/* product  */
.product__area {
    background: #f7f7f9;
    padding: 100px 0;
}

.product__item {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 30px 50px 0px rgba(8, 0, 42, 0.08);
}

.product__thumb {position: relative;}

.product__thumb::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
    border-radius: 6px 6px 0 0;
    opacity: 0;
}

.product__item:hover .product__thumb::after {
    opacity: 0.8;
}

.product__thumb-inner {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.product__thumb-inner img {
    width: 100%;
}

.product__thumb-btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    width: 50%;
    text-align: center;
}

.product__item:hover .product__thumb-btn {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.btn-6 {
    height: 45px;
    line-height: 38px;
    color: #1a152e;
    border: 2px solid #ffffff;
    background: #ffffff;
    min-width: 165px;
    padding: 0;
}

.btn-6:hover {
    color: #ffffff;
    background-color: #5f3afc;
    border-color: #5f3afc;
}

.btn-7 {
    height: 45px;
    line-height: 38px;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: transparent;
    min-width: 165px;
    padding: 0;
}

.btn-7:hover {
    color: #ffffff;
    background-color: #5f3afc;
    border-color: #5f3afc;
}

.product__content {
    padding: 23px 20px;
    padding-bottom: 15px;
}

.product__tag a {
    display: inline-block;
    font-weight: 600;
    height: 25px;
    line-height: 21px;
    padding: 0 15px;
    background: #f2f1f3;
    text-transform: capitalize;
    border-radius: 4px;
}

.product__tag a:hover {
    background: #5f3afc;
    color: #ffffff;
}

.product__price span {
    font-size: 20px;
    font-weight: 600;
    color: #1a152e;
}

.product__title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 24px;
}

.product__author {
    margin-bottom: 0;
}

.btn-2 {
    height: 44px;
    line-height: 42px;
    font-size: 14px;
}

/* cta */
.cta__area {
    padding: 100px 0;
}

.btn-border-2 {
    height: 50px;
    line-height: 46px;
    border: 2px solid #e7e6ef;
    color: #1a152e;
    padding: 0 30px;
    font-size: 14px;
    background: transparent;
}

.cta__btn {
    margin: 0 10px;
    margin-bottom: 10px;
}

.cta__btn.active {
    color: #ffffff;
    background: #5f3afc;
    border-color: #5f3afc;
    box-shadow: 0px 14px 20px 0px rgba(37, 17, 124, 0.16);
}


/* brand */
.brand__area {
    padding: 50px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .brand__active {
        justify-content: center !important;
    }
}

.brand__thumb img {
    margin: auto;
    width: inherit !important;
    opacity: 0.5;
}

.brand__thumb img:hover {
    opacity: 1;
}


/* testimonial */
.testimonial__area {
    padding: 100px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .testimonial__active {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }
}

.testimonial__item {
    width: 256.5px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 30px 60px 0px rgba(8, 0, 42, 0.1);
}

.testimonial__avater img {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
}

.testimonial__info h5 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 0;
}

.testimonial__info span {
    color: #5f3afc;
    font-weight: 600;
}

.testimonial__text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

.testimonial__dot_inner {
    width: auto;
    margin: auto;
}

.testimonial__dot {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #5f3afc;
    border-radius: 50%;
    margin: 10px;
    transition: .3s;
}

.testimonial__dot:hover,
.testimonial__dot:focus,
.testimonial__dot:focus-visible {
    width: 40px;
    border-radius: 30px;
    background: #5f3afc;
    cursor: pointer;
}

/* banner  */
.banner__area {
    padding-top: 50px;
    padding-bottom: 100px;
}

.banner__item {
    padding: 45px 40px;
    padding-right: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .banner__item {
        margin-bottom: 20px;
    }
    
}

@media (min-width: 320px) and (max-width: 500px) {
    .banner__item {
        padding-right: inherit;
    }
    
}


.banner__item h3 {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 18px;
}

.banner__item p {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

.btn-white {
    background: #ffffff;
    color: #1a152e;
    font-size: 14px;
    height: 40px;
    line-height: 36px;
    padding: 0 24px;
}

/* footer */
.footer__area{
    background: #14121d;
}

.footer__top {padding: 90px 50px;}
.footer__widget {margin-bottom: 40px;}
.footer__head {margin-bottom: 35px;}

.footer__head h4 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 27px;
}

.footer__social {margin-bottom: 30px;} 

.footer__social ul li {
    display: inline-block;
    margin-right: 8px;
}

.footer__social ul li a {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.footer__social ul li a:hover {background: #ffffff !important;}

.footer__social ul li a.fb {background-color: #285da1;}
.footer__social ul li a.fb:hover {color: #285da1;}

.footer__social ul li a.tw {background-color: #03a9f4;}
.footer__social ul li a.tw:hover {color: #03a9f4;}

.footer__social ul li a.pin {background-color: #d2173f;}
.footer__social ul li a.pin:hover {color: #d2173f;}

.footer__lang span {
    display: block;
    color: #99989e;
}

.footer__lang span a {
    color: #ffffff;
}

.footer__link ul li {
    margin-bottom: 9px;
}

.footer__link ul li a {
    font-size: 15px;
    line-height: 1;
    color: #99989e;
    position: relative;
}

.footer__link ul li a:hover {
    color: #ffffff;
    padding-left: 15px;
}

.footer__link ul li a::after {
    position: absolute;
    content: "";
    top: 58%;
    transform: translateY(-50%);
    left: 0;
    height: 1px;
    width: 0;
    background: #99989e;
}

.footer__link ul li a:hover::after {
    background: #ffffff;
    width: 10px;
}

/* footer bottom */
.footer__bottom__inner {
    padding: 18px 0;
    padding-bottom: 25px;
    border-top: 1px solid #22202a;
}

.footer__copyright p a {
    color: #ffffff;
}

.footer__bottom__link ul li {
    display: inline-block;
    position: relative;
}

.footer__bottom__link ul li a {
    display: inline-block;
    color: #79777e;
}

.footer__bottom__link ul li a:hover {
    color: #ffffff;
}

.footer__bottom__link ul li:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
}

.footer__bottom__link ul li:not(:last-child)::after {
    position: absolute;
    content: "";
    top: 56%;
    right: -3px;
    transform: translateY(-50%);
    background: #79777e;
    height: 3px;
    width: 3px;
    border-radius: 50%;
}





